@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


    :root {

        /* Colors: */
        --unnamed-color-e9108700: #E91087;
        --unnamed-color-fe018c: #FE018C;
        --unnamed-color-0097a7: #0097A7;
        --unnamed-color-4e456a: #4E456A;
        --unnamed-color-172130: #172130;
        --unnamed-color-f1f4f8: #F1F4F8;
        --unnamed-color-ffffff: #FFFFFF;
        }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
    background: red;
  }
  
  a {
    color: #262626;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    border: 2p solid red;
    width: 90%;
    max-width: 1100px;
    margin: auto;
  }
  
  /* Nav */
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
  }
  
  .main-nav .logo {
    width: 110px;
  }
  
  .main-nav ul {
    display: flex;
  }
  
  .main-nav ul li {
    padding: 0 10px;
  }
  
  .main-nav ul li a {
    padding-bottom: 2px;
  }
  
  .main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
  }
  
  .main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
  }
   .right-menu {
   display: flex;
   justify-content: end;
    
    
  }
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;

  }
  .menu-btn__burger {
    width: 50px;
    height: 3px;
    background: var(--unnamed-color-4e456a);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content:   '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: var(--unnamed-color-4e456a);
    border-radius: 5px;
    transition: all .5s ease-in-out;
    right: .9rem;
}
.menu-btn__burger::before {
transform: translateY(16px);
}

.menu-btn__burger::after {
  transform: translateY(-16px);
}
.menu-btn.show .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.show .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.show .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
 
  
  .login-btn {
    border: 3px solid var(--unnamed-color-fe018c);
    display: flex;
    color: var(--unnamed-color-e9108700);
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background: #fff;
    width: 214px;
    height: 48px;
}
.login-btn:hover {
   color: var(--unnamed-color-fe018c);
   background:   var(--unnamed-color-fe018c) 0% 0% no-repeat padding-box;
    opacity: 0.05;
}
.login-btn i{
   color: var(--unnamed-color-e9108700);
   padding-right: 5px;
}
  
  .dark {
    color: #fff;
  }
  
  .dark .btn {
    background: #f4f4f4;
    color: #333;
  }
  
  /* Showcase */


  details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
  }
  
  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  details summary::-webkit-details-marker {
    display: none;
  }
  
  details summary {
    width: 100%;
    padding: 0.5rem 0;
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 300;
    list-style: none;
  }
  
  details summary:after {
    content: "+";
    color:  var(--unnamed-color-fe018c);
    position: absolute;
    font-size: 3rem;
    line-height: 0;
    margin-top: 0.75rem;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: all .2s ease-in-out;
  }
  details[open] summary:after {
    transform: rotate(45deg);
    font-size: 3rem;
    transition: all .2s ease-in-out;
  }
  details summary {
    outline: 0;
  }
  details p {
    font-size: 0.95rem;
    margin: 0 0 1rem;
    padding-top: 1rem;
  }
  .collapse-border {
    border-bottom: 2px solid #ddd;
  }
  .location-container {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
  }
  .location-item {
      padding: 5px 0px;
  }
  .location-item h3{
    color: var(--unnamed-color-4e456);
    padding: 10px 0px;
    font-size: 18px;
}
.location-item div{
    color: var(--unnamed-color-4e456);
    font-weight: 600;

}
.social-fixed {
  position: absolute;    
}
  .location-item-collapse{
      padding: 10px;
  }
  .address {
      display: inline-block;
      align-items: center;
      display: flex;
      padding: 10px 0px;
  }
  .address svg{
    width: 2rem;
}
.address a{
    padding-left: 5px;
    font-size: 1.2rem;
    color: var(--unnamed-color-fe018c);
}
.address a:hover{
    text-decoration: underline;
    color: var(--unnamed-color-fe018c);
}
.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;;
  }
  
  .btn:hover {
    opacity: 0.9;
  }

  .showcase-container {
      position: relative;
      width: 100%;
      height: auto;


  }
  .showcase {
    width: 100%;
    height: 400px;
    background: url('../img/Upo.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  p span {
    color: var(--unnamed-color-0097a7);
    padding: 10px;
    background: var(--unnamed-color-f1f4f8);
    border-radius: 5px;
}
p {
    padding: 5px 0;
}
  
  /* Services cards */
  .service-area {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #F1F4F9;
}
.services-cards {
    position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  
}
.service-content {
    display: inline-block;
    
}
.service-content p{
  padding: 10px 0px;
}
.services-title {
    padding: 40px 0px;
    font-size: 24px;
}
.services-cards img {
  width: 35%;
  margin-bottom: 20px;
}

.services-cards h3 {
  margin-bottom: 5px;
}

.services-cards .service-btn {
    text-decoration: none;
  border-radius: 5px; 
  display: inline-block;
  font-weight: bold;
  padding: 10px 103px;
  background: var(--unnamed-color-fe018c);
  color: #fff;
  font-size: 15px;
}
.services-cards .service-btn:hover {

  background: var(--unnamed-color-e9108700)

}
.service-content.service-price {
  padding: 5px;
  font-size: 14px;
  font-weight: 900;
}
.service-content .service-price strong{
  font-size: 18px;
}

.services-cards a:hover i {
  margin-left: 10px;
}
.card-item {
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  display: block;
}
.service-detail {
  display: inline-block;
  padding: 10px 0px;
  color: var(--unnamed-color-e9108700);
  font-weight: bold;
  text-decoration: none;
}
.service-detail:hover {
  color: var(--unnamed-color-fe018c)
}
.service-detail i{
  font-size: .7rem;
  padding-left: 5px;
}

  
 /**end services*/



  /*BANNER */
    .banner-container {
    width: 100%;
    height: 30vh;
    background: var(--unnamed-color-e9108700);
    padding: 50px 0px;
  }
  .banner-container h3{
    text-align: center;
    padding: 3px 0px;
    color: #fff;
  }
  .banner-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.talk-btn {
    background-color: white;
  border-radius: 5px;
  color: var(--unnamed-color-fe018c);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}


  
  /* Follow */
  .follow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 40px;
  }
  
  .footer-logo {
      display: flex;
      align-items: center;
  }

  .footer-logo h3{
    padding: 1rem;
    color: var(--unnamed-color-e9108700);
}
.link-menu  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: top;
}
.link-menu  li a{
  text-decoration: none;
  color: var(--unnamed-color-4e456a);
} 
.link-menu  li a:hover{
  text-decoration: none;
  color: var(--unnamed-color-fe018c)
} 
.link-menu  ul li{
    padding: 10px 0px;
}
.link-menu  ul li a:hover{
    color: var(--unnamed-color-fe018c)
}
.link-address {
    justify-content: center;
    align-items: top;
    padding: 10px ;
}
.link-address p{
    color: var(--unnamed-color-4e456a);
}
.link-address p{
    padding-top: 10px ;
}

.link-item {
    align-items: top;
    padding: 10px ;
    justify-content: center;
}
.link-item h3{
    color:var(--unnamed-color-4e456a);
    padding: 10px ;
}
.link-item img{
    padding-top: 10px ;
}
  /* Links */
  .links {
    background: #F1F4F8;
    color: var(--unnamed-color-4e456a);
    font-size: 12px;
    padding: 35px 0;
    
  }
  .links-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    border-bottom: 2px solid  #ddd;;
  }
  
  /* Footer */
  .footer-area {
    background: #F1F4F9;
    color: var(--unnamed-color-4e456a);
    font-size: 12px;
    padding: 10px 0;
    display: flex;
    
  }
  
.isVisible {
  opacity: .8;
  z-index: 4;
  transition: all .4s ease-in;
}

#scrollToTopBtn {
  background-color: var(--unnamed-color-e9108700);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  line-height: 48px;
  width: 48px;
  justify-content: end;
  right: 0;
  position: sticky;
}
  .footer-inner {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .footer-right {
    justify-content: center;
      justify-content: space-between;
      display: flex;
      align-items: center;
      text-align: center;
  }
  .footer-right a{
    text-decoration: none;
    color: var(--unnamed-color-4e456a);
}
.footer-right a:hover{
  text-decoration: none;
  color: var(--unnamed-color-fe018c)
}
  .footer-left p{
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

  @media(max-width: 700px) {
   
  
    .main-nav ul.right-menu {
      margin-right: 50px;
    }
  
    .main-nav ul.main-menu {
      display: block;
      position: absolute;
      top:0;
      left: 0;
      background: #f2f2f2;
      width: 50%;
      height: 100%;
      border-right: #ccc 1px solid;
      opacity: 0.9;
      padding: 30px;
      transform: translateX(-500px);
      transition: transform 0.5s ease-in-out;
    }
  
    .main-nav ul.main-menu li {
      padding: 10px;
      border-bottom: #ccc solid 1px;
      font-size: 14px;
    }
  
    .main-nav ul.main-menu li:last-child {
      border-bottom: 0;
    }
  
    .main-nav ul.main-menu.show {
      transform: translateX(-20px);
    }
  
    .services-cards {
  
      grid-template-columns: repeat(2, 1fr);
    }
  
    .location-container {
      display: grid;
      grid-template-columns: 1fr;

    }
    .links .links-inner {
      grid-template-columns: repeat(2, 1fr);
    }
    .social-fixed {
      
        position: absolute;
        justify-content: top;
        align-content: flex-end;
        right: 2rem;
        top: 35rem;
    }
    
.isVisible {
  opacity: .8;
  z-index: 4;
  transition: all .4s ease-in;
}
  }
  
  @media only screen and (max-width: 768px) {
    .service-area {
      position: relative;
      width: 100%;
      height: 100%;
      background: #F1F4F9;

    
  }
  .service-area  .services-cards {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        padding: 2rem;
    }
    .service-area  .services-title {
      padding: 15px 30px;
    }
    .location-container {
      display: grid;
      grid-template-columns: 1fr;

    }
    .links .links-inner {
      grid-template-columns: 1fr;
    }
  
    .links .links-inner ul {
      margin-bottom: 20px;
    }
    .location-item {
      width: 30rem;
    }
    .location-item-collapse iframe{
      position: relative;
      width: 30rem;
    }
    .social-fixed {
      position: absolute;
      justify-content: top;
      align-content: flex-end;
      right: 2rem;
      top: 35rem;
    }
    .social-fixed img{
      width: 5rem;
     
    }
   /* links */
   .links-container {
     padding: 0px 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    border-bottom: 2px solid  #ddd;
  }
  /* footer */
  .footer-inner {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .footer-right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
  
.isVisible {
  opacity: .8;
  z-index: 4;
  transition: all .4s ease-in;
}
}
